<h1>Rate your Trip!</h1>

<%= @trip.id %>
<% if !Driver.find_by(id: @trip.driver_id).nil? %>
    <%= link_to "#{@trip.driver.name}", driver_path(@trip.driver.id) %>
  <% else %>
    <%= "(Driver Deleted)" %>
<% end %>
<% if !Passenger.find_by(id: @trip.passenger_id).nil? %>
    <%= link_to "#{@trip.passenger.name}", passenger_path(@trip.passenger.id) %>
<% else %>
    <%= "(Passenger Deleted)" %>
<% end %></td>
  <a>$<%if !@trip.cost.nil? %>
    <%=(@trip.cost / 100).round(2)%>
  <% else %>
    <%= 0 %>
  <% end %></a>
<div>
<%= form_for @trip do |f| %>
  <%= f.label(:rating, "1 Star-Terrrible")%>
  <%= f.radio_button(:rating, 1) %>
  <%= f.label(:rating, "2 Stars-Meh") %>
  <%= f.radio_button(:rating, 2) %>
  <%= f.label(:rating, "3 Stars-A-Okay") %>
  <%= f.radio_button(:rating, 3) %>
  <%= f.label(:rating, "4 Stars-Pretty Groovy") %>
  <%= f.radio_button(:rating, 4) %>
  <%= f.label(:rating, "5 Stars-RAD") %>
  <%= f.radio_button(:rating, 5) %>
<% end %>
</div>
