<h1>Rate your Trip!</h1>

<%= form_for @trip do |f| %>
<% if !Driver.find_by(id: @trip.driver_id).nil? %>
    <%= link_to "#{@trip.driver.name}", driver_path(@trip.driver.id) %>
  <% else %>
    <%= "(Driver Deleted)" %>
  <% end %></td>
<% if !Passenger.find_by(id: @trip.passenger_id).nil? %>
    <%= link_to "#{@trip.passenger.name}", passenger_path(@trip.passenger.id) %>
  <% else %>
    <%= "(Passenger Deleted)" %>
  <% end %></td>
  <td>$<%if !@trip.cost.nil? %>
    <%=(@trip.cost / 100).round(2)%>
  <% else %>
    <%= 0 %>
  <% end %></td>
  <%= f.label :rating %>
  <%= f. %>

  <%= f.submit %>
<% end %>


<% form_for(@trip) do |f| %>

  <%= radio_button_tag(:rating, 1) %>
  <%= label_tag("One Star - Awful") %>
  <%= radio_button_tag(:rating, 2) %>
  <%= label_tag("Two Stars - Not so good") %>
  <%= radio_button_tag(:rating, 3) %>
  <%= label_tag("Three Stars - Okay") %>
  <%= radio_button_tag(:rating, 4) %>
  <%= label_tag("Four Stars - Good") %>
  <%= radio_button_tag(:rating, 5) %>
  <%= label_tag("Five Stars - Amazing") %>


<% end %>
