<h1><%= @passenger.name %></h1>
<span><%=@passenger.phone_number%></span>
<span>$<%= @passenger.overall_spending(@passenger.id) %> </span>

<a><%= link_to "Request Ride", passenger_trips_path(@passenger.id), method: :post %></a>

<ul>
  <%@passenger.trips.each do |trip|%>
  <li>
    <%=trip.id%>
    <%=trip.date%>
    <%=link_to "#{trip.driver.name}", driver_path(trip.driver.id)%>
    <%=trip.cost.nil? ? 0.00 : (trip.cost / 100).round(2) %>
    <%=trip.rating%>
    <%end%>
  </li>
</ul>
  <span>
    <%= link_to "Edit Passenger", edit_passenger_path %>
  </span>
  <span>
    <%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete %>
  </span>
