<h1><%= @passenger.name %></h1>

<ul>
  <%@passenger.trips.each do |trip|%>
  <li>
    <%=trip.id%>
    <%=trip.date%>
    <%=trip.driver.name%>
    <%=(trip.cost / 100).round(2) %>
    <%=trip.rating%>
    <%= link_to "Edit Passenger", edit_passenger_path %>
  </li>
  <%end%>
</ul>
