<h1><%= @passenger.name %></h1>

<section class='d-p-header'>
<img src="http://placecage.com/g/200/200" alt="photo"/>
<span>Phone Number: <%=@passenger.phone_number%></span>
<span>Total spending: $<%= @passenger.overall_spending(@passenger.id) %> </span>
</section>

<%= link_to "Request Ride", passenger_trips_path(@passenger.id), method: :post %>

<ul class='d-p-info'>
  <li><a>Trip ID</a><a>Trip Date</a><a>Driver</a><a>Cost</a><a>Rating</a>
  </li>
  <%@passenger.trips.each do |trip|%>
  <li>
    <a><%=trip.id%></a>
    <a><%=trip.date%></a>
    <%=link_to "#{trip.driver.name}", driver_path(trip.driver.id)%>
    <a><%=trip.cost.nil? ? 0.00 : (trip.cost / 100).round(2) %></a>
    <a><%=trip.rating%></a>
    <%end%>
  </li>
</ul>
<section id='edit-delete'>
  <span>
    <%= link_to "Edit Passenger", edit_passenger_path %>
  </span>
  <span>
    <%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete %>
  </span>
</section>
