<h1><%= @driver.name %></h1>
<span>$<%= @driver.overall_earnings(@driver.id) %> </span>
<span><%= @driver.average_rating(@driver.id) %> stars </span>


<ul>
  <%@driver.trips.each do |trip|%>
  <li>
    <%=trip.id%>
    <%=trip.date%>
    <%=link_to "#{trip.passenger.name}", passenger_path(trip.passenger.id)%>
    <%=(trip.cost / 100).round(2) %>
    <%=trip.rating%>
    <%= link_to "Edit Driver", edit_driver_path %>
  </li>
  <%end%>

</ul>
